<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>Form</th>
          <th title="Number of purposes">#p</th>
          <th title="Number of blocks">#b</th>
          <th title="Custom info text birthday">ctb</th>
          <th title="Receipt on by default">rd</th>
        </tr>
      </thead>
      <tbody>
        <% keys.each do |key| %>
        <tr>
          <td><a href="<%= key %>.html"><%= key %></a></td>
          <td><%= data.dig(key, 'purposes').size  %></td>
          <td><%= data.dig(key, 'paymentWidgetBlocks').size  %></td>
          <td><%= !!data.dig(key, *%w(translations de info_toggle stored_customer_birthdate text_html)) %></td>
          <td><%= !!data.dig(key, *%w(paymentFormPrefill stored_customer_donation_receipt)) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
